.btn-index {
  text-decoration: none;
  border: solid 1px #363946;
  background: white;
  width: 187px;
  border-radius: 3px;
  padding: 10px 20px;
  color: #363946;
  :hover {
    opacity: 1;
    text-decoration: none;
    color: #363946;
  }
}

.btn-home {
  padding: 4px;
  :hover {
  opacity: 1;
  text-decoration: none;
  color: #363946;
  opacity: 0.7;
  }
}

.upload-photo {
  border:    solid 1px;
  border-radius: 3px;
  padding: 10px 24px;
  cursor: pointer;
  background: white;
  border-radius: 2px;
  margin-left: 5px;
  color: #363946;
  opacity: 0.7;
  // display: none;
}

.new-cocktail {
  border: #363946 solid 1px;
  border-radius: 3px;
  padding: 10px 24px;
  background: white;
  border-radius: 2px;
  margin-left: 5px;
  // display: none;
}

.button-new-cocktail {
  text-decoration: none;
  border: solid 1px #363946;
  background: white;
  width: 160px;
  border-radius: 3px;
  padding: 10px 20px;
  color: #363946;
  opacity: 0.7;
  margin-left: 5px;
  // display: none;
  :hover {
    opacity: 1;
    font-weight: bold;
    text-decoration: none;
    color: #363946;
  }
}

.none {
  display: none !important;
}
